[Unit]
Description=Ellie's nightlight

[Service]
Type=simple
ExecStart=/home/pi/nightlight/server/.venv/bin/python3 /home/pi/nightlight/server/nightlight_server.py

[Install]
WantedBy=multi-user.target
